.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item a.profile-pills{
  cursor: pointer;
  color: #333;
}

.nav-item a.profile-pills:hover{
  background-color:#dc301633;
}

.nav-item a.profile-pills.active:hover{
  color:#fff;
  background-color:#dc3016;
}

.nav-item a.profile-pills.active{
  background-color:#dc3016;
}

.profile-save,.profile-save:hover{
  background-color:#dc3016 !important;
  border-color:#dc3016;
}

.thumbnail{
  max-width: 100%;
  max-height: 200px;
  border: 1px Solid #000;
  padding: 20px 20px;
}

.btn-search{
  background-color: #dc3016 !important;
  color: #fff !important;
  font-size: 20px;
  font-weight: bold;
}

.remove-award{
  position: absolute;
  right: 0px;
  margin-top: -5px;
  margin-right: -10px;
}
.txtR {
  text-align: right;
}
.bio-data-body .txtR .btn.btnBlue {
  margin-right: 0;
  margin-left: 20px;
}
.bio-data-body .btn.btnBlue {
  background: #dc3016;
  border: #dc3016;
}
.bio-data-body .btn.btnBlue {
  width: 26%;
  margin-top: 10px;
  margin-bottom: 51px;
  margin-right: 20px;
}
.headingtext.courselist {
  margin-top: 0px;
}
.col-sm-6:last-child ul.profile_menu_list{
  position: absolute;
  width: 80%;
}

.cartInfobox {
  width: 1200px;
  max-width: 100%;
  margin-top: 50px
}
.add-space{
  margin-bottom: 50px;
  border-bottom: #333 1px solid;
  padding-bottom: 50px;
}
.cartheading {
  border-bottom: #333 1px solid;
  width: 100%;
  padding-bottom: 10px;
}
/* Check box  btn*/
.cbox-dash {
  margin-bottom: 10px;
  border-bottom: #333 1px dashed;
  padding-bottom: 10px;
}
/* Check box  btn*/
.cbox-space {
  margin-bottom: 10px;
  border-bottom: #333 1px solid;
  padding-bottom: 10px;
}
/* Check box  btn*/
.coupon {
  height:30px;
}
/* prefered course btn*/
.preferdCourseBtn {
  width: 50% !important;
}